body {
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container {
    background: #1e293b;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.nav-link ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}

.nav-link ul li {
    margin-bottom: 0.5rem;
}

.card ol li{
    padding-left: 20px;
    text-align: left;
}

.link-btn {
    display: block;
    background: #38bdf8;
    color: #0f172a;
    padding: 10px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s ease;
}

.link-btn:hover {
    background: #7dd3fc;
}
